// @import '../assets/fonts/boogaloo/stylesheet.css';

@font-face {
    font-family: 'boogaloo';
    src: url('../assets/fonts/boogaloo/boogaloo-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/boogaloo/boogaloo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}